*.class

# Package Files #
*.war
*.ear
bin/

# Eclipse #
.classpath
.project
.settings/
bin/
target/

# IntelliJ IDEA
.idea/
out/
*.iml

# maven #
dependency-reduced-pom.xml

# logs #
*.log
logs/
*.lck

# FXGL #
saves/
profiles/
system/

# FXGL Tests #
testprofiles/

# SpaceInvaders #
hiscore.dat