.dialogue-editor-node-view {
    -fx-border-color: azure;
    -fx-border-width: 2;
    -fx-border-style: solid;
    -fx-border-radius: 5 5 5 5;
    -fx-background-radius: 10 10 10 10;
    -fx-background-color: rgba(0, 0, 0, 0.55);
}

.dialogue-editor-text-area .scroll-pane {
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.dialogue-editor-condition-view {

}

.dialogue-editor-condition-view .text-field {
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 15 15 15 15;
    -fx-background-radius: 15 15 15 15;
    -fx-background-color: rgba(255, 255, 255, 0.55);
}