.window-add-icon {
    -fx-skin: "jfxtras.internal.scene.control.skin.window.DefaultWindowIconSkin";
    -fx-border-color: rgb(255,255,255);
    -fx-shape: "m 81.451435,47.885404 -39.71427,39.714277 m 0,-39.714277 39.71427,39.714277 m 27.285725,-19.85714 c 0,26.03628 -21.106585,47.142859 -47.142865,47.142859 -26.03628,0 -47.14285,-21.106579 -47.14285,-47.142859 0,-26.036277 21.10657,-47.142853 47.14285,-47.142853 26.03628,0 47.142865,21.106576 47.142865,47.142853 z";
    -fx-border-width: 2;
    -fx-border-insets: 1;
}