name: Java CI with Maven

on:
  push:
    branches: [ dev ]
  pull_request:
    branches: [ dev ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      
    - name: Set up latest stable JDK
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: 21

    - name: Cache maven deps
      uses: actions/cache@v3
      with:
        path: ~/.m2/repository
        key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
        restore-keys: |
          ${{ runner.os }}-maven-

    - name: Build and test with Maven using xvfb
      uses: GabrielBB/xvfb-action@v1
      with:
        run: |
          mvn test -B -Dgpg.skip=true -Dmaven.javadoc.skip=true -Dpmd.skip=true

    - name: Upload to CodeCov
      run: bash <(curl -s https://codecov.io/bash)